.border {
  border: 1px solid black;
}

.left-side {
  height: 700px;
}

.right-side {
  height: 350px;
}

.chat-header {
  height: 10%;
}

.chat-area {
  height: 290px;
  background-color: #ced6e2;
  overflow-y: scroll;
  border-radius: 5px;
}

.chat-input {
  padding-top: 1%;
}

.chat-container {
  background-color: #e5e5e5;
}

